/* chatting.scss */
@import url(common.scss);

/* header */
body.chatting_body{
  background-color: #fff;
/* main */

.chatiing_main {
  display: flex;
  flex-direction: column;
  height: 86%; 
  padding: 64px 0;
  overflow: auto;
}

.date_info {
  opacity: 0.5;
  text-align: center;
  margin: 10px;
}

/* 공통 */

.chat_box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: calc(100% - 80px);
  position: relative;
    .chatbox_btn{
      display: flex;
      justify-content: space-between;
      width: 80px;
        button{
          width: 38px;
          font-size: 11px;
          color: #fff;
          background-color: #000;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          opacity: 0.8;
            &:hover{
              opacity: 1;
            }
        }
    }
}

/*fit-content:내용물크기만큼*/

.chat {
  font-size: 16px;
  line-height: 1;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  background: #fff;
}

/* my */

.my {
  align-self: flex-end;
  align-items: flex-end;
  max-width: 240px;
  margin-right: 10px;

  .chat {
    border: 1px solid #000;
  }

  .chat_time {
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 50px;
    opacity: 0.5;
  }
}

/* align-self: 교차축에서 따로따로 할수있음*/

/* other */

.other {
    margin-left: 55px;
    margin-top: 20px;
    .profile_img {
      position: absolute;
      left: -55px;
      top: -5px;
      width: 35px;
      height: 35px;
    }
    
    .profile_name {
      display: block;
      font-weight: bold;
      margin: 5px;
    }

    .chat{
      border: 1px solid #000;
      
    }
    
    .other .chat_time {
      position: absolute;
      right: -30px;
      bottom: -5px;
      width: 50px;
      opacity: 0.5;
    }
  }
  
/* footer */

> footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #eee;

    .plus_btn{
      padding-left: 13.5px;
      font-size: 15px;
      cursor: pointer;
    }
    form {
      width: calc(100% - 40px);
      display: flex;
      justify-content: flex-end;
      .text_box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .text_field {
          width: 75%;
          height: 32px;
        }
        .file_send{
          position: fixed;
          bottom: 4.7%;
          left: 40px;
          width: 100%;
            img{
              width: 160px;
              height: 130px;
            }
            button{
              position: absolute;
              bottom: 0;
              width: 38px;
              font-size: 11px;
              color: #fff;
              background-color: #000;
              border: none;
              border-radius: 6px;
              cursor: pointer;
              opacity: 0.8;
                &:hover{
                  opacity: 1;
            }
            }
        }
        .chat_submit{
          width: 60px;
          height: 30px;
          display: flex;
          justify-content: center;
          font-weight: 600;
          color: #fff;
          border: none;
          border-radius: 24px;
          background-color: #000;
          opacity: 0.8;
          cursor: pointer;
            &:hover{
              opacity: 1;
            }
        }
        .emoticon_btn {
          position: absolute;
          right: 25%;
            a {
              color: #b3b4b4;
            }
              &:hover{
                transform: scale(1.2);
              }
        }
        .voice_btn a {
          display: block;
          width: 34px;
          height: 37px;
          margin-right: 5px;
          line-height: 37px;
          text-align: center;
          background: #000;
          border-radius: 50%;
          color: #fff;
          font-size: 16px;
          opacity: 0.8;
            &:hover{
              opacity: 1;
            }
        }
      }
    }
}



}

