/* 검색창 */
.search_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7.3%;
  min-height: 53px;
  background-color: #fff;
  .search_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    height: 50%;
    background-color: #f1f2f4;
    border-radius: 5px;
  }
  .search_inner > svg {
    font-size: 30px;
    color: #bebcc1;
    align-self: center;
    margin-left: 15px;
  }
  .search_inner > input {
    flex: 1;
    background: transparent;
    border: none;
    padding: 0 15px;
    &:focus{
      outline-color: #40bfb7;
    }
  }
  .search_inner > input::placeholder {
    text-align: center;
  }
}
